{:paths   ["src" "resources"]
 :deps    {com.hyperfiddle/rcf {:mvn/version "20220926-202227"}}
 :aliases {:dev  {:extra-paths ["development"]
                  :extra-deps  {com.lambdaisland/classpath {:mvn/version "0.0.27"}}}
           :test {:extra-paths ["test"]
                  :extra-deps  {}}}}
