{:deps    {bases/advent-of-code {:local/root "../../bases/advent-of-code"}
           components/input     {:local/root "../../components/input"}
           org.clojure/clojure  {:mvn/version "1.11.1"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}}}
